<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Shared By NULLPHPSCRIPT.COM - Critso - Crypto Dashboard Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">



    <!-- Font -->
    <link rel="stylesheet" href="font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">

</head>

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="index.html" id="site-logo-inner">
                            <img class="" id="logo_header" alt="" src="images/logo/logo-dark.png" data-light="images/logo/logo.svg" data-dark="images/logo/logo-dark.svg" >
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-back"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <div class="center-heading f14-regular text-Gray menu-heading mb-12">Navigation</div>
                            </div>
                            <div class="center-item">
                                <ul class="">
                                    <li class="menu-item">
                                        <a href="index.html" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-category"></i>
                                            </div>
                                            <div class="text">Dashboard</div>
                                        </a>
                                    </li>
                                    
                                    <li class="menu-item">
                                        <a href="" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-setting1"></i>
                                            </div>
                                            <div class="text">Settings</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="component.html" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-search-normal"></i>
                                            </div>
                                            <div class="text">Component</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                                   
     <!-- /section-menu-left -->
     <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <div class="button-show-hide">
                                    <i class="icon-menu"></i>
                                </div>
                                <h6>Dashboard</h6>
                                <form class="form-search flex-grow">
                                    <fieldset class="name">
                                        <input type="text" placeholder="Type to search …" class="show-search style-1" name="name" tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div class="button-submit">
                                        <button class="" type="submit"><i class="icon-search-normal1"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header-grid">
                                <div class="header-btn">
                                    <div class="popup-wrap message type-header">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="header-item">
                                                    <i class="icon-sms"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton1" >
                                                <li>
                                                    <h6>Message</h6>
                                                </li>


                                                <li>
                                                    <div class="message-item w-full wg-user active">
                                                        <div class="image">
                                                            <img src="images/avatar/user-1.png" alt="">
                                                        </div>
                                                        <div class="flex-grow">
                                                            <div class="flex items-center justify-between">
                                                                <a href="#" class="body-title name">Cameron Williamson</a>
                                                                <div class="time">10:13 PM</div>
                                                            </div>
                                                            <div class="text-tiny desc">Hello?</div>
                                                        </div>
                                                    </div>
                                                </li>
                                          
                                               
                                                <li>
                                                    <a href="message.html" class="tf-button style-1 f12-bold w-100">
                                                        View All
                                                        <i class="icon icon-send"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="popup-wrap noti type-header">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="header-item">
                                                    <i class="icon-notification1"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton2" >
                                                <li>
                                                    <h6>Notifications</h6>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-1">
                                                        <div class="image">
                                                            <i class="icon-setting-5"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Discount available</div>
                                                            <div class="text-tiny">Morbi sapien massa, ultricies at rhoncus at, ullamcorper nec diam</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-2">
                                                        <div class="image">
                                                            <i class="icon-person"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Account has been verified</div>
                                                            <div class="text-tiny">Mauris libero ex, iaculis vitae rhoncus et</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-3">
                                                        <div class="image">
                                                            <i class="icon-message-text1"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Order shipped successfully</div>
                                                            <div class="text-tiny">Integer aliquam eros nec sollicitudin sollicitudin</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-4">
                                                        <div class="image">
                                                            <i class="icon-sms-tracking"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Order pending: <span>ID 305830</span></div>
                                                            <div class="text-tiny">Ultricies at rhoncus at ullamcorper</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="notifications.html" class="tf-button style-1 f12-bold w-100">
                                                        View All
                                                        <i class="icon icon-send"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="line1"></div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="content flex flex-column">
                                                    <span class="label-02 text-Black name">Jonathan</span>
                                                    <span class="f14-regular text-Gray">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton3" >
                                            <li>
                                                <a href="account.html" class="user-item">
                                                    <div class="body-title-2">Account</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="message.html" class="user-item">
                                                    <div class="body-title-2">Inbox</div>
                                                    <div class="number">27</div>
                                                </a>
                                            </li>
                                          
                                            <li>
                                                <a href="settings.html" class="user-item">
                                                    <div class="body-title-2">Setting</div>
                                                </a>
                                            </li>

                                              <li>
                                                <a href="#" class="user-item">
                                                    <div class="body-title-2">If New Function Added</div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="sign-in.html" class="user-item">
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>


                                          
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="tf-container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="flex gap24 mb-32 flex-md-row flex-column">
                                                <div class="w-100">
                                                    <div class="wg-card style-1 bg-Primary mb-25">



                                                        <div class="icon">
                                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="images\item\task2.png"
                                                               width="48" height="48" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>
                                                         
                                                        

    <style>.f12-medium { font-size: 12px; font-weight: 500; }
.f14-medium { font-size: 14px; font-weight: 500; }
.f16-medium { font-size: 16px; font-weight: 500; }
.f18-medium { font-size: 18px; font-weight: 500;} </style>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter text-White">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6>
                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-1"></div>
                                                            </div>
                                                        </div> <div class="f16-medium text-White"   id="card-time" >  Total <span class="text-Gray">Task</span></span></div>
                                                    </div>
                                                    <div class="wg-card">
                                                     
                                                        <div class="icon">
                                                            <svg width="36" height="36" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="https://tse4.mm.bing.net/th/id/OIP.oFQZrxI_6v-DZfUslxXmJwHaHa?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
                                                               width="36" height="36" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6>
                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-2"></div>
                                                            </div>
                                                        </div> 
                                                        <div class="f16-medium text-Black" id="card-completed">Complete <span class="text-Gray">Task</span></span></div>

                                                    </div>
                                                </div>
                                                <div class="w-100">
                                                    <div class="wg-card mb-25">

                                                        
                                                         <div class="icon">
                                                            <svg width="36" height="36" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="https://tse4.mm.bing.net/th/id/OIP.oFQZrxI_6v-DZfUslxXmJwHaHa?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
                                                               width="36" height="36" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6> 
                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-3"></div>
                                                            </div>
                                                        </div> 
                                                      <div class="f16-medium text-Black" id="card-pending">Pending <span class="text-Gray">Task</span></span></div>

                                                    </div>
                                                    <div class="wg-card style-1 bg-YellowGreen">
                                                   
                                                       
                                                       
                                                        <div class="icon">
                                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="images\item\task2.png"
                                                               width="48" height="48" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6>
                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-4"></div>
                                                            </div>
                                                        </div>
                                                        <div class="f16-medium text-White"  id="card-adopt" >Today New <span class="text-Gray">Task</span></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wg-box style-1 bg-Gainsboro shadow-none widget-tabs mb-32">
                                                <div>

                                                    <div class="title mb-16">
                                                        <div class="label-01">Activity Overview</div>
                                                        <ul class="widget-menu-tab">
                                                            <li class="item-title f12-medium">
                                                                <span class="inner">Week</span>
                                                            </li>
                                                            <li class="item-title f12-medium active">
                                                                <span class="inner">Month</span>
                                                            </li>
                                                            <li class="item-title f12-medium">
                                                                <span class="inner">Year</span>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                    
                                                    
            <div class="card">
              <h4>Activity Trend</h4>
              <canvas id="trendChart" height="200"></canvas>
              <div style="margin-top:10px">
                <h4 style="font-size:13px;margin-bottom:6px">Recent Activity</h4>
                <ul id="activityList" class="activity-list"></ul>
              </div>
            </div>
                                                </div>
                                                <div class="widget-content-tab">
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <div class="col-lg-6">
                                            <div class="wg-box style-1  shadow-none mb-32">
                                                
                                                    <div class="card" style="flex:content; flex-direction: column;">
                                   



                                   
                                    <div class="label-02 text-Black">Activity Statistics</div> 
                            <div style="width: 435px; height: 440px; padding: 10px; background:rgb(255, 255, 255); border-radius:100px; margin-top:1px;">
                                     <canvas id="statusChart"></canvas>
                                           </div>
                                                    <button class="btn" onclick="openKanbanSection()">Open Kanban</button>

                                  

                                    
                                </div>
                            </div>
                            <!-- /main-content-wrap -->
                        </div>


                        <!-- /main-content-wrap -->
                        
                 
 

 <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <style>
:root {
    /* LIGHT THEME */
    --bg: #f6f7fb;
    --panel: #ffffff;
    --muted: #6b7280;
    --text: #0f172a;
    --accent: #6366f1;
    --accent-2: #7c3aed;
    --success: #10b981;
    --danger: #ef4444;
    --glass: rgba(255, 255, 255, 0.6);
    --shadow: 0 10px 30px rgba(2, 6, 23, 0.06);
    --radius: 12px;
}

body.dark {
    /* DARK THEME */
    --bg: #0b1220;
    --panel: #071028;
    --muted: #94a3b8;
    --text: #e6eef8;
    --accent: #7c3aed;
    --accent-2: #06b6d4;
    --success: #10b981;
    --danger: #fb7185;
    --glass: rgba(255, 255, 255, 0.03);
    --shadow: 0 10px 30px rgba(2, 6, 23, 0.6);
}

/* base */
* {
    box-sizing: border-box
}


body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    overflow: hidden
}

a {
    color: inherit
}




.dropdown button:hover {
    background: rgba(255, 255, 255, 0.03)
}

/* layout */
.app {
    display: flex;
    height: 100vh;
  

}



main.content {
    flex: 1;
    overflow: auto;
    padding: 18px 18px 40px;
    border-radius: 12px;
    margin-left: 100px;
}

.container {
    max-width: 1280px;
   margin-top: -18px;
    display: flex;flex-direction: column;
    padding: 10px;
    border: #c7c7c7 solid 3px ;
    border-radius: 10px;
    
    margin-right: -15px;
   

    position: relative;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px
}

.card {
    background: var(--panel);
    padding: 14px;
    border-radius: 12px;
    box-shadow: var(--shadow)
}

.card h4 {
    margin: 0;
    font-size: 13px;
    color: var(--muted)
}

.card .value {
    font-size: 20px;
    font-weight: 700;
    margin-top: 6px
}

.charts {
    display: grid;
    grid-template-columns: .3fr .3fr;
    gap: 10px;
    margin-top: 10px;
}

canvas {
    padding: 30px;
    background: rgba(227, 198, 255, 0.957);
    border-radius: 8px
}

.right-rail {
    width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 12px
}

.rail-card {
    background: var(--panel);
    padding: 12px;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: var(--shadow)
}

.messenger-list {
    height: 220px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.msg-row {
    display: flex;
    gap: 8px;
    align-items: flex-start
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(99, 102, 241, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    font-weight: 700
}

/* kanban */
.kanban {
    display: flex;
    gap: 12px;
    align-items: flex-start
}

.col {
    flex: 1;
    min-width: 240px;
    background: rgba(99, 102, 241, 0.03);
    padding: 12px;
    border-radius: 10px
}

.task {
    background: var(--panel);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 8px 20px rgba(2, 6, 23, 0.04);
    cursor: grab
}

.col h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 8px 0;
    font-size: 14px
}

.add-btn {
    display: block;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    border: 2px dashed rgba(15, 23, 42, 0.06);
    cursor: pointer;
    color: var(--muted)
}

.activity-list {
    max-height: 220px;
    overflow: auto;
    padding-top: 6px
}

.activity-list li {
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    font-size: 13px;
    color: var(--muted)
}

.muted {
    color: var(--muted)
}

.muted- {
    color: white
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 0;
    background: var(--accent);
    color: #fff;
    cursor: pointer
}

/* small screens */
@media (max-width:1100px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr)
    }

    .charts {
        grid-template-columns: .5fr;
        grid-auto-rows: minmax(180px, auto)
    }

    .right-rail {
        display: none
    }

    aside.drawer {
        display: none
    }

    header.header {
        padding: 6px 12px
    }
}

@media (max-width:600px) {
    .grid-4 {
        grid-template-columns: 1fr
    }
}




.drawer {
  height: 100vh;
  background-color:var(--panel);
  padding: 12px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  transition: width 0.25s;
  position: fixed;
  top: px;
  left: 0px;
  
  z-index: 40;
}

.drawer.open {
  width: 100px;
  align-items: flex-start;
  padding: 1px;
}

.drawer .drawer-toggle {
  position: absolute;
  right: -16px;
  top: 0;
  background: rgb(226, 207, 255);
 height: 100vh;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: 2s;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0px; 
  display: flex;flex-direction: column;
  padding: px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  color: var(--muted);
  transition: background .3s;
}

.nav-item .label {
  display: none;
}

.drawer.open .nav-item .label {
  display: block;
}

.nav-item:hover {
  background: rgba(99,102,241,0.08);
  color: var(--accent);
}

  </style>




<script>
function toggleNuvDrawer(){
  const drawer = document.getElementById('nuvDrawer');
  drawer.classList.toggle('open');
}
</script>
 
          <div class="grid-4">
            <div class="card"><h4>Tasks </h4><div id="card-completed" class="value">0</div><div class="muted" style="margin-top:6px">Today</div></div>
            <div class="card"><h4>Time Saved</h4><div      id="card-time" class="value">0 min</div><div class="muted" style="margin-top:6px">Daily average</div></div>
            <div class="card"><h4>Team Adoption</h4><div   id="card-adopt" class="value">0%</div><div class="muted" style="margin-top:6px">Active users</div></div>
            <div class="card"><h4>Pending </h4><div   id="card-pending" class="value">0</div><div class="muted" style="margin-top:6px">Needs attention</div></div>
          </div>


    <!-- Main content -->
   
        <!-- Dashboard Section -->

         



        

          </div>  
          
          
          
          
          
          
          
          
          
          
          
          
          <div class="rail-card">
                <h4>Messenger (mini)</h4>
                <div id="messengerMini" class="messenger-list"></div>
                <div style="display:flex;gap:8px;margin-top:8px">
                  <input id="miniInput" placeholder="Message..." style="flex:1;padding:8px;border-radius:8px;border:1px solid #eee" onkeydown="if(event.key==='Enter'){sendMiniMsg()}">
                  <button class="btn" onclick="sendMiniMsg()">Send</button>
                </div>
              </div>

          <div style="display:flex;gap:12px;align-items:flex-start">
            <div style="flex:1">
              <div class="card" style="margin-top:12px">
                <h4>Reports (by project)</h4>
                <div id="reportsArea" style="display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:10px;margin-top:10px"></div>
              </div>
            </div>

            <aside class="right-rail">
              
              
          

              
              <div class="rail-card">
                <h4>Voice Memos</h4>
                <div id="voiceList" style="margin-top:8px"></div>
                <div style="margin-top:8px"><button class="btn" onclick="simulateVoice()">Add Voice Memo</button></div>
              </div>
            </aside>
          </div>
        </section>

        <!-- Kanban Section -->
        <section id="kanbanSection" style="display:none">
          <div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:12px">
            <h3 style="margin:0">Kanban Board</h3>
            <div style="display:flex;gap:8px">
              <button class="btn" onclick="showSection('dashboard')">Back to Dashboard</button>
              <button class="btn" onclick="addQuickTaskPrompt()">+ New Task</button>
            </div>
          </div>

          <div class="kanban" id="kanbanBoard"></div>

          <div style="margin-top:12px" class="card">
            <h4>Kanban Reports</h4>
            <div id="kanbanReports" style="margin-top:8px" class="muted">Summary of columns, lead times, throughput (demo)</div>
          </div>
        </section>

      </div>
    </main>
  </div>

  <script>
    /* ------------------------
       Data (in-memory)
       ------------------------ */
    const model = {
      tasks:{
        todo:[
          {id:'t1',title:'Design landing page',assignee:'Sarah',due:'2025-10-12'},
          {id:'t2',title:'Write hero copy',assignee:'Michael',due:'2025-10-13'}
        ],
        inprogress:[
          {id:'t3',title:'Integrate payments API',assignee:'Amanda',due:'2025-10-18'}
        ],
        review:[
          {id:'t4',title:'QA checkout flow',assignee:'You',due:'2025-10-14'}
        ],
        done:[
          {id:'t5',title:'Init repo',assignee:'You',due:'2025-09-30'}
        ]
      },
      voiceMemos:[
        {id:'v1',summary:'Schedule client meeting',created:'2025-10-09'}
      ],
      messages:[
        {from:'Sarah',text:'Design review completed',ts:'09:12'},
        {from:'Michael',text:'Can we postpone deploy?',ts:'08:50'}
      ],
      activities:[
        {text:'Setup project repo',ts:'2025-10-01'},
        {text:'Sarah completed design review',ts:'2025-10-09'},
        {text:'Michael pushed API changes',ts:'2025-10-09'}
      ],
      reports:[
        {project:'Website Redesign',done:12,inprogress:3,pending:2},
        {project:'Mobile App',done:8,inprogress:4,pending:5},
        {project:'Marketing Campaign',done:5,inprogress:2,pending:6}
      ]
    };

    
  


    /*--
       Render / UI
       ------------------------ */
    function renderOverviewCards(){
      document.getElementById('card-completed').textContent = model.tasks.done.length;
      document.getElementById('card-pending').textContent = model.tasks.todo.length + model.tasks.inprogress.length + model.tasks.review.length;
      document.getElementById('card-adopt').textContent = '94%';
      document.getElementById('card-time').textContent = '15 min';
    }

    function renderReports(){
      const area = document.getElementById('reportsArea'); area.innerHTML='';
      model.reports.forEach(r=>{
        const el = document.createElement('div'); el.className='card';
        el.innerHTML = `<h4 style="margin-bottom:6px">${r.project}</h4>
          <div style="display:flex;gap:8px;flex-wrap:wrap">
            <div class="muted">Done</div><div style="font-weight:700">${r.done}</div>
            <div class="muted" style="margin-left:8px">In Progress</div><div style="font-weight:700">${r.inprogress}</div>
            <div class="muted" style="margin-left:8px">Pending</div><div style="font-weight:700">${r.pending}</div>
          </div>`;
        area.appendChild(el);
      });
    }

    function renderActivities(){
      const list = document.getElementById('activityList'); list.innerHTML='';
      model.activities.slice().reverse().forEach(a=>{
        const li = document.createElement('li'); li.textContent = `${a.text} · ${a.ts}`; list.appendChild(li);
      });
    }

    function renderMessengerMini(){
      const list = document.getElementById('messengerMini'); list.innerHTML='';
      model.messages.slice().reverse().forEach(m=>{
        const div = document.createElement('div'); div.className='msg-row';
        div.innerHTML = `<div class="avatar">${m.from.charAt(0)}</div><div><strong style="font-size:13px">${m.from}</strong><div class="muted">${m.text}</div></div>`;
        list.appendChild(div);
      });
    }

    function sendMiniMsg(){
      const input = document.getElementById('miniInput'); const val = input.value.trim(); if(!val) return;
      model.messages.push({from:'You',text:val,ts: new Date().toLocaleTimeString()});
      model.activities.push({text:`You: ${val}`,ts:new Date().toLocaleString()});
      input.value='';
      renderMessengerMini(); renderActivities(); updateChartsAndReports();
    }

    function renderVoiceList(){
      const el = document.getElementById('voiceList'); el.innerHTML='';
      model.voiceMemos.slice().forEach(v=>{
        const d = document.createElement('div'); d.style.marginBottom='8px';
        d.innerHTML = `<div style="font-weight:600">${v.summary}</div><div class="muted" style="font-size:12px">${v.created}</div>`;
        el.appendChild(d);
      });
    }

    /* ------------------------


    /* ------------------------
       Charts (Chart.js)
       ------------------------ */
    let statusChart, trendChart;
    function createCharts(){
      const sctx = document.getElementById('statusChart').getContext('2d');
      statusChart = new Chart(sctx,{
        type:'doughnut',
        data:{labels:['To Do','In Progress','Review','Done'],datasets:[{data:[],backgroundColor:[]}]},
        options:{plugins:{legend:{position:'bottom'}},responsive:true}
      });

      const tctx = document.getElementById('trendChart').getContext('2d');
      trendChart = new Chart(tctx,{
        type:'line',
        data:{labels:[],datasets:[{label:'Activities',data:[],fill:true,tension:0.3,backgroundColor:'',borderColor:''}]},
        options:{plugins:{legend:{display:false}},responsive:true}
      });

      updateChartsAndReports();
    }

    function updateChartsAndReports(){
      const counts = [
        model.tasks.todo.length,
        model.tasks.inprogress.length,
        model.tasks.review.length,
        model.tasks.done.length
      ];
      statusChart.data.datasets[0].data = counts;
      statusChart.data.datasets[0].backgroundColor = getStatusColors();
      statusChart.update();

      renderOverviewCards();
      renderReports();

      document.getElementById('kanbanReports').textContent = `To Do: ${model.tasks.todo.length} · In Progress: ${model.tasks.inprogress.length} · Review: ${model.tasks.review.length} · Done: ${model.tasks.done.length}`;
      updateTrendData();
    }

    function getStatusColors(){
      if(document.body.classList.contains('dark')) return ['#f59e0b','#60a5fa','#fb923c','#10b981'];
      return ['#fbbf24','#60a5fa','#f97316','#10b981'];
    }

    function refreshChartColors(){
      statusChart.data.datasets[0].backgroundColor = getStatusColors();
      statusChart.update();
      // trend
      trendChart.data.datasets[0].backgroundColor = document.body.classList.contains('dark') ? 'rgba(124,58,237,0.12)' : 'rgba(99,102,241,0.12)';
      trendChart.data.datasets[0].borderColor = document.body.classList.contains('dark') ? '#7c3aed' : '#6366f1';
      trendChart.update();
    }

    function updateTrendData(){
      const labels=[]; const data=[];
      for(let i=6;i>=0;i--){
        const d=new Date(); d.setDate(d.getDate()-i);
        labels.push(d.toLocaleDateString());
        const count = model.activities.filter(a => {
          try { return new Date(a.ts).toDateString() === d.toDateString(); }
          catch(e){return false}
        }).length || Math.floor(Math.random()*6);
        data.push(count);
      }
      trendChart.data.labels = labels;
      trendChart.data.datasets[0].data = data;
      refreshChartColors();
    }

   
    /* ------------------------


    /* ------------------------
       small helpers

    /* ------------------------
       Init app
       ------------------------ */
    function init(){
      renderOverviewCards(); renderReports(); renderActivities(); renderMessengerMini(); renderVoiceList(); createCharts(); renderKanban(); updateTrendData();
      // ensure chart colors match theme
      setTimeout(refreshChartColors, 200);
    }

    init();
    // expose for buttons
    window.openKanbanSection = openKanbanSection;
    window.showSection = showSection;
    window.addQuickTaskPrompt = addQuickTaskPrompt;
    window.sendMiniMsg = sendMiniMsg;
    window.goHome = goHome;






  </script>

  
    
         
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>





    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/countto.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/apexcharts/apexcharts.js"></script>
    <script src="js/apexcharts/small-chart-1.js"></script>
    <script src="js/apexcharts/small-chart-2.js"></script>
    <script src="js/apexcharts/small-chart-3.js"></script>
    <script src="js/apexcharts/small-chart-4.js"></script>
    <script src="js/apexcharts/line-chart-twoline.js"></script>
    <script src="js/apexcharts/candlestick-1.js"></script>
    <script src="js/apexcharts/candlestick-4.js"></script>
    <script src="js/apexcharts/candlestick-5.js"></script>
    <!-- <script src="js/switcher.js"></script> -->
    <script defer src="js/theme-settings.js"></script>
    <script src="js/main.js"></script>



</body>

</html>