<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Shared By NULLPHPSCRIPT.COM - Critso - Crypto Dashboard Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">



    <!-- Font -->
    <link rel="stylesheet" href="font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">

</head>

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="index.html" id="site-logo-inner">
                            <img class="" id="logo_header" alt="" src="images/logo/logo-dark.png" data-light="images/logo/logo.svg" data-dark="images/logo/logo-dark.svg" >
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-back"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <div class="center-heading f14-regular text-Gray menu-heading mb-12">Navigation</div>
                            </div>
                            <div class="center-item">
                                <ul class="">
                                    <li class="menu-item">
                                        <a href="index.html" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-category"></i>
                                            </div>
                                            <div class="text">Dashboard</div>
                                        </a>
                                    </li>
                                    
                                    <li class="menu-item">
                                        <a href="" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-setting1"></i>
                                            </div>
                                            <div class="text">Settings</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="component.html" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-search-normal"></i>
                                            </div>
                                            <div class="text">Component</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                                   
     <!-- /section-menu-left -->
     <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <div class="button-show-hide">
                                    <i class="icon-menu"></i>
                                </div>
                                <h6>Dashboard</h6>
                                <form class="form-search flex-grow">
                                    <fieldset class="name">
                                        <input type="text" placeholder="Type to search …" class="show-search style-1" name="name" tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div class="button-submit">
                                        <button class="" type="submit"><i class="icon-search-normal1"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header-grid">
                                <div class="header-btn">
                                    <div class="popup-wrap message type-header">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="header-item">
                                                    <i class="icon-sms"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton1" >
                                                <li>
                                                    <h6>Message</h6>
                                                </li>


                                                <li>
                                                    <div class="message-item w-full wg-user active">
                                                        <div class="image">
                                                            <img src="images/avatar/user-1.png" alt="">
                                                        </div>
                                                        <div class="flex-grow">
                                                            <div class="flex items-center justify-between">
                                                                <a href="#" class="body-title name">Cameron Williamson</a>
                                                                <div class="time">10:13 PM</div>
                                                            </div>
                                                            <div class="text-tiny desc">Hello?</div>
                                                        </div>
                                                    </div>
                                                </li>
                                          
                                               
                                                <li>
                                                    <a href="message.html" class="tf-button style-1 f12-bold w-100">
                                                        View All
                                                        <i class="icon icon-send"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="popup-wrap noti type-header">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="header-item">
                                                    <i class="icon-notification1"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton2" >
                                                <li>
                                                    <h6>Notifications</h6>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-1">
                                                        <div class="image">
                                                            <i class="icon-setting-5"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Discount available</div>
                                                            <div class="text-tiny">Morbi sapien massa, ultricies at rhoncus at, ullamcorper nec diam</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-2">
                                                        <div class="image">
                                                            <i class="icon-person"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Account has been verified</div>
                                                            <div class="text-tiny">Mauris libero ex, iaculis vitae rhoncus et</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-3">
                                                        <div class="image">
                                                            <i class="icon-message-text1"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Order shipped successfully</div>
                                                            <div class="text-tiny">Integer aliquam eros nec sollicitudin sollicitudin</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-4">
                                                        <div class="image">
                                                            <i class="icon-sms-tracking"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Order pending: <span>ID 305830</span></div>
                                                            <div class="text-tiny">Ultricies at rhoncus at ullamcorper</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="notifications.html" class="tf-button style-1 f12-bold w-100">
                                                        View All
                                                        <i class="icon icon-send"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="line1"></div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="content flex flex-column">
                                                    <span class="label-02 text-Black name">Jonathan</span>
                                                    <span class="f14-regular text-Gray">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton3" >
                                            <li>
                                                <a href="account.html" class="user-item">
                                                    <div class="body-title-2">Account</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="body-title-2">Inbox</div>
                                                    <div class="number">27</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="transaction.html" class="user-item">
                                                    <div class="body-title-2">Transaction</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="settings.html" class="user-item">
                                                    <div class="body-title-2">Setting</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="crypto.html" class="user-item">
                                                    <div class="body-title-2">Crypto</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="sign-in.html" class="user-item">
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="tf-container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="flex gap24 mb-32 flex-md-row flex-column">
                                                <div class="w-100">
                                                    <div class="wg-card style-1 bg-Primary mb-25">



                                                        <div class="icon">
                                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="https://tse4.mm.bing.net/th/id/OIP.oFQZrxI_6v-DZfUslxXmJwHaHa?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
                                                               width="48" height="48" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>
                                                         
                                                        

    <style>.f12-medium { font-size: 12px; font-weight: 500; }
.f14-medium { font-size: 14px; font-weight: 500; }
.f16-medium { font-size: 16px; font-weight: 500; }
.f18-medium { font-size: 18px; font-weight: 500;} </style>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter text-White">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6>
                                                              <div class="f16-medium text-White">Total <span class="text-Gray">Task</span></span></div>

                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-1"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wg-card">
                                                     
                                                        <div class="icon">
                                                            <svg width="36" height="36" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="https://tse4.mm.bing.net/th/id/OIP.oFQZrxI_6v-DZfUslxXmJwHaHa?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
                                                               width="36" height="36" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6>
                                                                <div class="f16-medium text-Black">Complete <span class="text-Gray">Task</span></span></div>
                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-2"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w-100">
                                                    <div class="wg-card mb-25">

                                                        
                                                         <div class="icon">
                                                            <svg width="36" height="36" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="https://tse4.mm.bing.net/th/id/OIP.oFQZrxI_6v-DZfUslxXmJwHaHa?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
                                                               width="36" height="36" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6> 
                                                                <div class="f16-medium text-Black">Pending <span class="text-Gray">Task</span></span></div>
                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-3"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wg-card style-1 bg-YellowGreen">
                                                   
                                                       
                                                       
                                                        <div class="icon">
                                                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                              <image href="https://tse4.mm.bing.net/th/id/OIP.oFQZrxI_6v-DZfUslxXmJwHaHa?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
                                                               width="48" height="48" preserveAspectRatio="xMidYMid meet" /> </svg>
                                                        </div>


                                                        <div class="content">
                                                            <div>
                                                                <h6 class="counter">
                                                                    <span class="number" data-speed="2000" data-to="34" data-inviewport="yes">34</span>
                                                                </h6>
                                                              <div class="f16-medium text-White">Total <span class="text-Gray">Task</span></span></div>
                                                            </div>
                                                            <div class="chart-small">
                                                                <div id="small-chart-4"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wg-box style-1 bg-Gainsboro shadow-none widget-tabs mb-32">
                                                <div>
                                                    
                                                    <div class="title mb-16">
                                                        <div class="label-01">Activity Overview</div>
                                                        <ul class="widget-menu-tab">
                                                            <li class="item-title f12-medium">
                                                                <span class="inner">Week</span>
                                                            </li>
                                                            <li class="item-title f12-medium active">
                                                                <span class="inner">Month</span>
                                                            </li>
                                                            <li class="item-title f12-medium">
                                                                <span class="inner">Year</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                                <div class="widget-content-tab">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="wg-box style-1 bg-Primary shadow-none mb-32">
                                                <div>
                                                    <div class="title mb-10">
                                                        <div class="label-01 text-White">Crypto Statistics</div>
                                                       
                                                    </div>
                                                    <div class="flex gap16 items-center">
                                                       
                                                      
                                                        
                                                    </div>
                                                </div>
                                                <div id="" class="line-chart-twoline"></div>
                                            </div>
                                            <div class="flex gap24 mb-32 flex-md-row flex-column">
                                                <div class="wg-box gap16">
                                                    <div>
                                                        <div class="title mb-12">
                                                             <div class="label-01">Sell Order</div> 
                                                             </div>
                                                        
                                                    </div>


                                                    <table>
                                                     
                                                    </table>
                                                

                                                </div>
                                                <div class="wg-box gap16 bg-YellowGreen">
                                                    <div>
                                                        <div class="title mb-12">
                                                            <div class="label-01">Buy Order</div>
                                                            <div class="dropdown default">
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                   
                                                                </ul>
                                                            </div>
                                                        </div>
                        
                                                    </div>
                                                    <table>
                                                     
                                               
                                                     
                                                    </table>
                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/countto.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/apexcharts/apexcharts.js"></script>
    <script src="js/apexcharts/small-chart-1.js"></script>
    <script src="js/apexcharts/small-chart-2.js"></script>
    <script src="js/apexcharts/small-chart-3.js"></script>
    <script src="js/apexcharts/small-chart-4.js"></script>
    <script src="js/apexcharts/line-chart-twoline.js"></script>
    <script src="js/apexcharts/candlestick-1.js"></script>
    <script src="js/apexcharts/candlestick-4.js"></script>
    <script src="js/apexcharts/candlestick-5.js"></script>
    <!-- <script src="js/switcher.js"></script> -->
    <script defer src="js/theme-settings.js"></script>
    <script src="js/main.js"></script>

</body>

</html>