<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Shared By NULLPHPSCRIPT.COM - Critso - Crypto Dashboard Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">



    <!-- Font -->
    <link rel="stylesheet" href="font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">

</head>

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="index.html" id="site-logo-inner">
                            <img class="" id="logo_header" alt="" src="images/logo/logo-dark.png" data-light="images/logo/logo.svg" data-dark="images/logo/logo-dark.svg" >
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-back"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <div class="center-heading f14-regular text-Gray menu-heading mb-12">Navigation</div>
                            </div>
                            <div class="center-item">
                                <ul class="">
                                    <li class="menu-item">
                                        <a href="index.html" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-category"></i>
                                            </div>
                                            <div class="text">Dashboard</div>
                                        </a>
                                    </li>
                                    
                                    <li class="menu-item">
                                        <a href="" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-setting1"></i>
                                            </div>
                                            <div class="text">Settings</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="component.html" class="menu-item-button">
                                            <div class="icon">
                                                <i class="icon-search-normal"></i>
                                            </div>
                                            <div class="text">Component</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                                   
     <!-- /section-menu-left -->
     <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <div class="button-show-hide">
                                    <i class="icon-menu"></i>
                                </div>
                                <h6>Dashboard</h6>
                                <form class="form-search flex-grow">
                                    <fieldset class="name">
                                        <input type="text" placeholder="Type to search …" class="show-search style-1" name="name" tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div class="button-submit">
                                        <button class="" type="submit"><i class="icon-search-normal1"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header-grid">
                                <div class="header-btn">
                                    <div class="popup-wrap message type-header">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="header-item">
                                                    <i class="icon-sms"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton1" >
                                                <li>
                                                    <h6>Message</h6>
                                                </li>


                                                <li>
                                                    <div class="message-item w-full wg-user active">
                                                        <div class="image">
                                                            <img src="images/avatar/user-1.png" alt="">
                                                        </div>
                                                        <div class="flex-grow">
                                                            <div class="flex items-center justify-between">
                                                                <a href="#" class="body-title name">Cameron Williamson</a>
                                                                <div class="time">10:13 PM</div>
                                                            </div>
                                                            <div class="text-tiny desc">Hello?</div>
                                                        </div>
                                                    </div>
                                                </li>
                                          
                                               
                                                <li>
                                                    <a href="message.html" class="tf-button style-1 f12-bold w-100">
                                                        View All
                                                        <i class="icon icon-send"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="popup-wrap noti type-header">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="header-item">
                                                    <i class="icon-notification1"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton2" >
                                                <li>
                                                    <h6>Notifications</h6>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-1">
                                                        <div class="image">
                                                            <i class="icon-setting-5"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Discount available</div>
                                                            <div class="text-tiny">Morbi sapien massa, ultricies at rhoncus at, ullamcorper nec diam</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-2">
                                                        <div class="image">
                                                            <i class="icon-person"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Account has been verified</div>
                                                            <div class="text-tiny">Mauris libero ex, iaculis vitae rhoncus et</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-3">
                                                        <div class="image">
                                                            <i class="icon-message-text1"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Order shipped successfully</div>
                                                            <div class="text-tiny">Integer aliquam eros nec sollicitudin sollicitudin</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="notifications-item item-4">
                                                        <div class="image">
                                                            <i class="icon-sms-tracking"></i>
                                                        </div>
                                                        <div>
                                                            <div class="body-title-2">Order pending: <span>ID 305830</span></div>
                                                            <div class="text-tiny">Ultricies at rhoncus at ullamcorper</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="notifications.html" class="tf-button style-1 f12-bold w-100">
                                                        View All
                                                        <i class="icon icon-send"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="line1"></div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="content flex flex-column">
                                                    <span class="label-02 text-Black name">Jonathan</span>
                                                    <span class="f14-regular text-Gray">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton3" >
                                            <li>
                                                <a href="account.html" class="user-item">
                                                    <div class="body-title-2">Account</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="message.html" class="user-item">
                                                    <div class="body-title-2">Inbox</div>
                                                    <div class="number">27</div>
                                                </a>
                                            </li>
                                          
                                            <li>
                                                <a href="settings.html" class="user-item">
                                                    <div class="body-title-2">Setting</div>
                                                </a>
                                            </li>

                                              <li>
                                                <a href="#" class="user-item">
                                                    <div class="body-title-2">If New Function Added</div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="sign-in.html" class="user-item">
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>


                                          
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->

                    
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="tf-container">
                                    <div class="wg-box style-1 bg-Gainsboro shadow-none">

                                        


  <!-- Left Table / Message -->




  
      

                     

 <div style="min-width:1000px; margin:auto; background:#fff; border-radius:12px; box-shadow:0 4px 12px rgba(0,0,0,0.1); display:flex; flex-direction:column; height:80vh; overflow:hidden;">

  <!-- Chat Messages -->
  <div style="flex:1; padding:15px; overflow-y:auto; display:flex; flex-direction:column; gap:10px;">


    <div style="display:flex; justify-content:space-between; align-items:center; 
            background:#f3f4f6; padding:10px 15px; border-radius:10px; 
            box-shadow:0 2px 6px rgba(0,0,0,0.1);">

  <!-- Left: User profile + name -->
  <a href="user-profile.html" 
     style="display:flex; align-items:center; gap:10px; 
            text-decoration:none; color:#111; 
            background:#ffffff; padding:6px 12px; 
            border-radius:8px; box-shadow:0 1px 3px rgba(0,0,0,0.1); 
            transition:0.2s;">
    <img src="https://via.placeholder.com/40" alt="User" 
         style="width:40px; height:40px; border-radius:50%; object-fit:cover;">
    <span style="font-weight:600; font-size:16px;">alex BRo</span>
  </a>

  <!-- Right: Return button -->
  <a href="message.html" 
     style="display:flex; align-items:center; gap:6px; 
            background:#8644ef; color:white; padding:8px 14px; 
            border-radius:8px; text-decoration:none; 
            font-weight:600; transition:0.2s;">
    <img src="https://cdn-icons-png.flaticon.com/512/93/93634.png" 
         alt="Return" style="width:20px; height:20px;">
    <span>Return</span>
  </a>
</div>

    

  <div style="display:flex; padding:0px; border-top:3px solid #ddd; gap:10px; background:#fff; align-items:center;">
  </div>


    <div style="max-width:70%; padding:10px 15px; border-radius:20px; background:#e4e6eb; align-self:flex-start; font-size:16px;">Hello! How are you?</div>
    <div style="max-width:70%; padding:10px 15px; border-radius:20px; background:#0084ff; color:white; align-self:flex-end; font-size:16px;">I am good, thanks!</div>
    <div style="max-width:70%; padding:10px 15px; border-radius:20px; background:#e4e6eb; align-self:flex-start; font-size:16px;">Do you want to attach a file?</div>
  </div>

  <!-- Input Bar with File & Emoji -->
  <div style="display:flex; padding:10px; border-top:3px solid #ddd; gap:10px; background:#fff; align-items:center;">
    
    <!-- File input hidden -->
    <input type="file" id="fileInput" style="display:none;">
    
    <!-- File button -->
    <button onclick="document.getElementById('fileInput').click()" style="background:#e4e6eb; border:none; padding:10px 12px; border-radius:50%; cursor:pointer; font-size:18px;">📎</button>
    
    <!-- Emoji button -->
    <button style="background:#e4e6eb; border:none; padding:10px 12px; border-radius:50%; cursor:pointer; font-size:18px;">😊</button>
    
    <!-- Text input -->
    <input type="text" placeholder="Type a message..." style="flex:1; padding:12px 15px; border-radius:20px; border:1px solid #ddd; outline:none; font-size:16px;">
    
    <!-- Send button -->
    <button title="Send" style="background:#0084ff; border:none; color:white; padding:12px 15px; border-radius:50%; cursor:pointer; font-size:18px;">➤</button>
    
  </div>

</div>


                                        </div>
                                        
                                    </div>

 
    
                                </div>

                                


                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <!-- <script src="js/switcher.js"></script> -->
    <script defer src="js/theme-settings.js"></script>
    <script src="js/main.js"></script>

</body>

</html>