{% extends 'authentication/base_auth.html' %}

{% block title %}Set New Password - PickTask{% endblock %}
{% block header_text %}Set New Password{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label class="form-label" for="{{ form.new_password1.id_for_label }}">New Password</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
        <div class="error-list">
            {{ form.new_password1.errors }}
        </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="form-label" for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
        <div class="error-list">
            {{ form.new_password2.errors }}
        </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
{% endblock %}